@media screen and (max-width: 1024px) {
    .login {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
    }

    .imgLogin {
        align-self: center;
        width: 347px;
        height: 347px;
        left: 190px;
        top: 80px;
    }

    .tittle {
        color: var(--violet);
        margin-top: 4vw;
        margin-left: 18vw;
        margin-bottom: 2vw;
    }   

    .loginbtn {
        display: flex;
    }

    /*#cargo {
        background-color: var(--black);
        border: solid 3px var(--violet);
        color: var(--white);
        width: 30vw;
        height: 8vw;
        font-size: 1.3rem;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 18vw;
    }*/

    button {
        background-color: var(--green);
        width: 28vw;
        height: 8vw;
        font-size: 1.5rem;
        font-weight: bolder;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 2vw;
    }

    .noSignUp {
        color: var(--violet);
        font-size: 1.3rem;
        font-weight: bold;
        width: 100%;
        margin-top: 15vw;
        margin-left: 18vw;
    }

    .signUp {
        background-color: var(--green);
        color: var(--black);
        padding: 1.8vw;
        padding-left: 40px;
        padding-right: 40px;
        height: 8vw;
        font-size: 1.5rem;
        font-weight: bolder;
        border-radius: 10px;
        text-decoration: none;
    }
}