.login {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    border: 1px solid greenyellow;
}

.imgLogin {
    align-self: center;
    width: 347px;
    height: 347px;
    left: 190px;
    top: 80px;
}

.tittle {
    color: var(--violet);
    margin-top: 4vw;
    margin-left: 18vw;
    margin-bottom: 2vw;
}

.loginbtn {
    display: flex;
    border: 1px solid pink;
}

.signupText {
    color: var(--violet);
    font-size: 1.3rem;
    font-weight: bold;    
    margin-top: 15vw;
    margin-left: 18vw;
}

.signupBtn {
    background-color: var(--green);
    color: var(--black);
    padding: 1.8vw;
    padding-left: 40px;
    padding-right: 40px;
    height: 8vw;
    font-size: 1.5rem;
    font-weight: bolder;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    top: 10vw;
    left: 2vw;
}

.signUpContainer {
    display: flex;
    border: 1px solid red;
}

@media (min-width: 1024px) {
    .login {
        margin: 0 150px 0 150px;
        border: red 1px solid;
    }    
}


