.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.imgLogin {
  margin: 0 auto;
}

.title {
  color: var(--violet);
  margin: 3% 0 1% 0;
  width: 60vw;
  text-align: start;
}

.loginbtn {
  display: flex;
}

.signUpContainer {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  width: 60vw;
  column-gap: 4vw;
  margin: 2vh 0 1vh 0;
}

.signupText {
  color: var(--violet);
  font-size: 0.9rem;
  font-weight: bold;
}

.signupBtn {
  background-color: var(--green);
  color: var(--black);
  height: 6vh;
  font-size: 0.9rem;
  font-weight: bolder;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  padding: 1.6vh 0 0 0;
  width: 28vw;
}

@media (min-width: 1024px) {
  .login {
    margin: 0 150px 0 150px;
    border: red 1px solid;
  }
}
