.inputSignup {
    margin-left: 18vw;
    background-color: var(--black);
    border: solid 3px var(--violet);
    width: 60vw;
    height: 8vw;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 1.3rem;
    color: var(--white);
}

