.inputSignup {    
    background-color: var(--black);
    border: solid 3px var(--violet);
    width: 60vw;
    height: 6vh;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 1.2rem;
    color: var(--white);
    max-width: 35vw;
}

