.selectSignup {
    background-color: var(--black);
    border: solid 3px var(--violet);
    color: var(--white);
    width: 30vw;
    height: 8vw;
    font-size: 1.3rem;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 18vw;
}