.selectSignup {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--violet);
    border-radius: 4px;
    height: 40px;
    width: 130px;
    font-size: large;
    margin-right: 3%;
}