.submitButton {     
    background-color: var(--green);
    color: var(--grey);
    height: 60px;
    width: 210px;
    text-align: center;
    font-weight: bolder;
    border-radius: 10px;
    font-size: 2rem;
    margin-left: 8%;
}