.formSignup {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.hamburgreenLogo {
  align-self: center;
  width: 347px;
  height: 347px;
  left: 190px;
  top: 80px;
}

.voltarLink {
  text-decoration: none;
  background-color: var(--grey);
  color: var(--green);
  height: 40px;
  width: 80px;
  text-align: center;
  font-weight: bolder;
  border-radius: 5px;
  font-size: 1.2rem;
  padding-top: 6px;
  margin-right: 40vw;
}

.voltarLink:hover {
  opacity: 0.5;
}

.signupTitle {
  color: var(--violet);
  margin: 1vh 15vw 1vh 0vw;
}

.signupBtns {
  display: flex;
}
