.formSignup {    
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.hamburgreenLogo {
    align-self: center;
    width: 347px;
    height: 347px;
    left: 190px;
    top: 80px;
}

.voltarLink {    
    text-decoration: none;
    background-color: var(--grey);
    color: var(--green);
    height: 4vh;
    width: 18vw;
    text-align: center;
    font-weight: bolder;
    border-radius: 5px;    
    font-size: 1.3rem;    
    padding: 8px;
    margin: 0 60vw 0;
}

.voltarLink:hover {
    opacity: 0.5;
}

.signupTitle {
    color: var(--violet);
    margin-top: 4vw;
    margin-left: 18vw;
    margin-bottom: 2vw;
}

.signupBtns {
    display: flex;
}
