.wrapperSignup {
    border: 1px solid red;
    display: flex;
    flex-direction: column;    
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.voltarLink {
    border: 1px solid green;
    text-decoration: none;
}

.formSignup {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hamburgreenLogo {
    height: 250px;
}

.signupTitle {
    color: var(--violet);
}