@import url("./pages/login/login.css");
@import url("./pages/signup/signup.css");
@import url("./components/form/input.css");
@import url("./components/form/submitButton.css");
@import url("./components/form/select.css");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --black: #0c0b0b;
  --green: #62fb8d;
  --violet: #9463a9;
  --purple: #71269f;
  --white: #fcfcfc;
  --grey: #2b2a2a;
}

body {
  background: var(--black);
  color: var(--white);
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  height: 100vh;
  width: 100vw;
}
