@import url('./pages/login/login.css');
@import url('./pages/signup/signup.css');
@import url('./components/form/input.css');
@import url('./components/form/submitButton.css');
@import url('./components/form/select.css');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --black: #0C0B0B;
  --green: #62FB8D;
  --violet: #9463a9;
  --purple: #71269F;
  --white: aliceblue;
  --grey: #2B2A2A;
}

body {
  background: var(--black);
  color: var(--white);
  padding: 2rem;
}